@import "tailwindcss";

@font-face {
  font-family: "Anton";
  src: url("./assets/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./assets/fonts/BricolageGrotesque.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.font-anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.font-dmsans {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.font-dmsans-light {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

.font-bricolage {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
}

.font-bricolage-light {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 200;
}
